@media(max-width:1199px){
    nav ul li a{
        padding: 2.5rem 1rem
    }
   
}
@media (max-width: 991px) {
    .navbar-toggler {
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 20px;
        color: #FFF;
        font-size: 2.25rem;
    }
    nav ul {
        width: 100%;
    }
    nav ul li a{
        display: block;
        text-align: center;
        padding: 1.5rem 1rem;
    }
    nav ul li a::after{
        content: none;
    }
    nav ul li.sub-menu .custom-dropdown ul:after{
        right: 50%;
        transform: translateX(50%);
    }
}
@media (min-width: 991px) {
  nav .collapse {
    display: inline-block;
  }
  nav .collapse li {
    display: inline-block;
  }
  
}

@media(max-width:767px){
    html{
        font-size: 8px;
    }
}
@media(max-width:575px){
    .sliderHome ul.slick-dots{
        bottom: 20px;
        top: auto;
        transform: translateX(-50%);
        left: 50%;
    }
    .sliderHome ul.slick-dots > li {
        display: inline-block;
        height: 3px;
        width: 20px;
        margin-top: 0;
        margin-left: 15px;
    }

    .sliderHome .overlay h1{
        font-size: 14px;
        text-align: center;
    }
    .sliderHome .overlay span{
        font-size: 12px !important;
    }
    .sliderHome .overlay .inner-overlay .form-group .form-control{
        font-size: 1.2rem;
    }
    nav > img{
        width: 155px
    }
    .sliderHome .overlay .inner-overlay{
        width: 95%;
    }
    .top-nav .register li a{
        font-size: 0;
    }
    .top-nav .register li a img{
        margin-left: 0;
    }
}