/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');
:root{
    --main-color: #1f4b68;
    --second-color: #02b9ff;
    --text-color: #77839b
}
/* Fonts */
@font-face {
    font-family: 'Droid-bold';
    src: url(../vendor/fonts/ArbFONTS-Droid-Arabic-Kufi-Bold.ttf);
}
@font-face {
    font-family: 'Droid-regular';
    src: url(../vendor/fonts/ArbFONTS-Droid-Arabic-Kufi.ttf);
}
* , *:focus, *:hover{
    outline: 0 !important;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Droid-regular';
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #FFF;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
  }

hr{
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.custom-btn{
    background-color: var(--second-color);
    color: #FFF;
    font-size: 1.2rem;
    border:none;
    padding: 0.8rem 2.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.custom-control-label{
    cursor: pointer;
}
.custom-control-label::before{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FFF;
    border:1px solid #a4a9ae;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #a4a9ae;
}
.custom-control-label::after{
    background: none !important;
    width: 1.5rem;
    height: 1.5rem;
}
.custom-dropdown ul{
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #FFF;
    min-width: 200px;
    color: var(--text-color);
    padding: 2rem 0;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: all 0.3s ease-in-out;
}
.custom-dropdown ul.active{
    transform: rotateX(0);
}
.custom-dropdown ul::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 23px;
    border-width: 5px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #FFF;
}
.custom-dropdown ul li{
    padding: 1.2rem  1.5rem ;
    border-bottom: 1px solid #e9ecef;
}
.custom-dropdown ul li:first-child{
    padding-top: 0;
}
.custom-dropdown ul li:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}
/* Preload */
.load {
    background-color: var(--main-color);
    position:fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    z-index:1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.load img{
    width: 120px
}

.justify-content-evenly{
    justify-content: space-evenly !important
}
.p-relative{
    position: relative;
}
/* Links
==========================*/

a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
    font-family: 'Droid-bold';
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* top-nav
=========================*/ 
.top-nav ul.soical{
    line-height: 0;
}
.top-nav ul.soical li{
    display: inline-block;
    margin: 1.5rem 1.5rem 1.5rem 0;
}
.top-nav ul.soical li img{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    width: 1.8rem;
    height: 1.8rem;
}
.top-nav ul.soical li img:hover{
    opacity: 1;
}
.top-nav .register{
    font-family: 'Droid-bold';
}
.top-nav .register li{
    display: inline-block;
    margin-left: 2rem;
    position: relative;
}
.top-nav .register li:last-child{
    margin: 0;
}
.top-nav .register li .custom-dropdown ul{
    right: 0;
    left: unset;
    z-index: 999;
    top: calc(100% + 11px);
    padding: 10px;
}
.top-nav .register li:hover .custom-dropdown ul{
    transform: rotateY(0);
}
.top-nav .register li .custom-dropdown ul li{
    display: block;
    text-align: left;
}
.top-nav .register li .custom-dropdown ul a{
    font-size: 1.2rem;
    display: block;
}
.top-nav .register li .custom-dropdown ul::after{
    right: 25px;
    left: unset;
}
.top-nav .register li a{
    display: inline-block;
    color: var(--text-color);
    font-size: 1.2rem;
}
.top-nav .register li a img{
    display: inline-block;
    margin-left: 1rem;
}
.top-nav .register li:last-child a {
    color: #999999;
}
/* nav
=================== */
nav{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    background: var(--main-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 998;
    
}
nav img{
    /*  width: 200px; */
    margin: 2rem 0; 
}
.navbar-toggler {
  display: none;
}
.navbar-toggler:focus{
    outline: 0;
}
nav ul li.sub-menu{
    position: relative;
}
nav ul li.sub-menu .custom-dropdown ul {
    right: 0;
    left: unset;
    top: 100%;
    font-size: 1.2rem;
    z-index: 9;
}
nav ul li.sub-menu .custom-dropdown ul li {
    display: block;
}
nav ul li.sub-menu .custom-dropdown ul a {
    color: inherit;
    padding: 0;
    display: block;
}
nav ul li.sub-menu .custom-dropdown ul li:hover a{
    color: var(--main-color);
}
nav ul li.sub-menu .custom-dropdown ul a img{
    display: inline-block;
    margin: 0;
  
}

nav ul li.sub-menu .custom-dropdown ul a:after{
    content: none;
}
nav ul li.sub-menu .custom-dropdown ul:after{
    right: 25px;
    left: unset;
}
nav ul li.sub-menu:hover .custom-dropdown ul{
    transform: rotateY(0);
}
nav ul li a {
    color: #FFF;
    padding: 3rem 1rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    font-size: 1.2rem;
}
nav ul li a:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--second-color)     ;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a.active{
    color: var(--second-color);
    
}
nav ul li a:hover:after,
nav ul li a:focus:after,
nav ul li a.active:after{
    height: 4px;
}
/* sliderHome
================ */
.sliderHome {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(30, 73, 102, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}
.sliderHome .overlay {
    justify-content: flex-end;
}
.sliderHome .overlay h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.45);
}
.sliderHome .overlay .inner-overlay {
    margin-bottom: 80px;
}
.sliderHome .overlay h1 span {
    font-size: 2.4rem;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.sliderHome .overlay .inner-overlay .form-group{
    box-shadow: 0 0 0px 5px  rgba(255,255,255,.5);
    border-radius: 35px;
    margin-top: 5rem;
    position: relative;
    /* overflow: hidden; */
}
.sliderHome .overlay .inner-overlay .form-group .submit{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
}
.sliderHome .overlay .inner-overlay .form-group .submit button{
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--main-color);
    cursor: pointer;
}
.sliderHome .overlay .inner-overlay .form-group .submit button:first-child{
    color: #999999;
}
.sliderHome .overlay .inner-overlay .form-group .submit button img{
    width: 0.4rem;
    min-height: 1.8rem;
    margin-left: 0.5rem;
    display: inline-block;
}
.sliderHome .overlay .inner-overlay .form-group .form-control{
    height: 60px;
    border-radius: 35px;
    padding: 0 3rem;
    font-size: 1.4rem;
    border: none;
}
.sliderHome .overlay .inner-overlay .form-group .form-control:focus{
    box-shadow: none;
    outline: 0 !important;
}
.sliderHome .item{
    background-position: center center;
    background-size: cover;
}
.sliderHome img {
    min-height: 300px;
}

.sliderHome ul.slick-dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 99
}
.sliderHome ul.slick-dots > li {
    display:inline-block;
    width: 3.6rem;
    background-color: transparent;
    border: 2px solid #FFF;
    height: 1.2rem;
    margin-right: 15px;
    
    cursor: pointer
}
.sliderHome ul.slick-dots > li > button {
    display: none
}
.sliderHome ul.slick-dots > li.slick-active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    opacity: 0.7;
}

/*  footer
=========================*/
footer{
    padding: 3rem 0;
    background-color: var(--main-color);
    text-align: center;
    color: #FFF;
}
footer .move-up{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

/*  widget
========================== */
.widget{
    box-shadow:-1px 2px 7px 1px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 3rem;
}
.widget.widget-sm{
    border-radius: 10px;
}
.widget.slider img{
    width: 210px;
    height: 125px;
    border-radius: 5px;
}
.widget .widget-body{
    background-color: #FFF;
}
.widget .widget-image img{
    width: 100%;
}
.widget .widget-footer{
    background-color: #f2f2f2;
}
.widget .widget-content{
    padding: 2.5rem  2rem;
    position: relative;
}
.widget .widget-content::after{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 30px;
    border-width: 9px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #FFF;
}
.widget.widget-sm .widget-content::after{
    content: none;
}
.widget .widget-content .title{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.6;
}
.widget .widget-content p{
    color: #999999;
    font-size: 1.21rem;
    text-align: justify;
    line-height: 1.6;
}
.widget .widget-content .content-footer {
    color: var(--text-color);
}
.widget .widget-content .content-footer ul li{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 1rem;
    vertical-align: middle;
}
.widget .widget-content .content-footer ul li a img{
    display: inline-block;
    margin-left: 0.5rem;
}
.widget .widget-content .content-footer a{
    font-size: 1.2rem;
    display: inline-block;
    padding: 1.5rem  0 0;
}
.widget .widget-content .custom-btn{
    position: relative;
    top: -10px;
}
.widget .widget-content bdi {
    font-size: 1.6rem;
    color: #999999;
    margin-top: 1rem;
    font-family: "Verdana";
}
.widget .widget-content bdi span{
    color: var(--second-color);
}
.widget.widget-sm .title{
    font-size: 1.2rem;
    min-height: 38px;
}
.custom-widget {
    background-image: url(../images/news/blog-3.webp);
    background-size: cover;
    height: 300px;
    position: relative;
    background-position: center center;
    color: #FFF;
}
.custom-widget .custom-body{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    border-top: 3px dotted rgba(30, 73, 102, 0.5);   
}
.custom-widget  p{
    font-size: 1.4rem;
}

.custom-widget .news {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.custom-widget .news p{
    font-size: 1.2rem;
}
.custom-widget .news span{
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 5px;
    padding: 0.3rem 1.2rem;
    display: inline-block;
    margin-bottom: 1rem;
}
.custom-widget .address span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1;
}
.custom-widget .custom-dropdown {
    position: absolute;
    top: 0;
    left: 0;
}
.custom-widget .custom-dropdown span{
    cursor: pointer;
}
.custom-widget .custom-dropdown span:after{
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    border-width: 7px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: var(--main-color);
}

/* weather
=========================== */
.weather .widget-body h4{
    color: var(--main-color);
    font-size: 1.4rem;
}
.weather .widget-body p,
.weather .widget-body span{
    color: var(--second-color);
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.3rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.weather .widget-body p img{
    display: inline-block;
}

.weather .tab-content{
    background-image: url(../images/news/blog-4.webp);
    background-size: cover;
}
.weather .nav{
    font-size: 1.2rem;
    font-weight: bold;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--second-color);
    border:0;
    border-bottom: 2px solid var(--second-color)
}
.nav-tabs .nav-link{
    border-radius: 0;
    border: 0;
    color: var(--text-color);
    padding: 1rem 1.5rem;
}
.weather-status img,
.weather-status h5{
    display: inline-block;
    vertical-align: middle;
}
.weather-status h5{
    font-size: 8.8rem;
    font-family: 'Economica', sans-serif;
    text-shadow: 0px 2px 4px rgba(0,0,0,.2);
    color: #FFF;
}
.weather .widget-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}
.weather .widget-footer .d-flex > div {
    opacity: 0.4;
    cursor: pointer;
}
.weather .widget-footer .d-flex  .active{
    opacity: 1;
}
/* table
========================== */
.table-responsive{
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    margin-bottom: 30px;
}
table th{
    font-size: 1.2rem;
    color: #a4a9ae;
    padding: 2rem 1rem !important;
    border-top: 0 !important;
}
table td {
    font-size: 1.3rem;
    color: var(--text-color);
    vertical-align: middle !important;
}
table td.unactive{
    text-decoration: line-through;
}
table tr td:nth-child(4),
table tr td:nth-child(5),
table tr td:nth-child(6){
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* tumb
====================== */
.widget.slider .item{
    margin:  15px 15px 0;
}
.item-tumb {
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
}
.item-tumb:last-child {
    margin-bottom: 15px;
}
.item-tumb > img{
    object-fit: cover;
    width: 100% !important;
    transform: scale(1.2);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}
.item-tumb .overlay {
    border-radius: 5px;
    flex-direction: row;
    transform: scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
    z-index: 9;
}
.item-tumb:hover .overlay,
.item-tumb:hover > img  {
    transform: scale(1);
}
.item-tumb .overlay a{
    display: inline-block;
    margin-left: 20px;
}
.item-tumb .overlay a:last-child {
     margin-left: 0;
}
.item-tumb .overlay img{
    width: 30px;
    height: 30px;
    margin: 0;
}

.slick-initialized .slick-slide {
    outline: 0;
}
.widget.slider .widget-footer {
    padding: 2.5rem 2rem;
    min-height: 70px;
}
.slider-control .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.slider-control .arrow img{
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;
}
.slider-control .arrow img:hover{
    filter: none;
}
.slider-control .arrow.prev{
    left: 20px;
}
.slider-control .arrow.next{
    right: 20px;
}
.slider-control img{
    width: 30px !important;
    height: 30px !important;
}
.widget.slider {
    position: relative;
}
.widget.slider .slick-dots {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;

    transform: translateX(-50%);
    z-index: 1;
}
.widget.slider .slick-dots li{
    display: inline-block;
    margin-right: 5px;
}
.widget.slider .slick-dots li button {
    font-size: 0;
    width: 10px;
    border: none;
    background-color: #bfbfbf;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}
.widget.slider .slick-dots li button:last-child {
    margin-right: 0;
}
.widget.slider .slick-dots li.slick-active button{
    background-color: var(--second-color);
}
