.top-nav .register li a img{
    margin-left: unset;
    margin-right: 1rem;
}
.top-nav .register li{
    margin-left: unset;
    margin-right: 2rem;
}
.top-nav .register li .custom-dropdown ul li{
    text-align: right;
}
.navbar-toggler{
    right: 20px;
    left: unset;
}
.sliderHome .overlay .inner-overlay .form-group .submit{
    left: unset;
    right: 3rem;
}
.widget .widget-content::after{
    right: unset;
    left: 30px;
}
.widget .widget-content .content-footer ul li a img{
    margin-left: 0;
    margin-right: 0.5rem;
}
.widget .widget-content .content-footer ul li{
    margin-left: unset;
    margin-right: 1rem;
}
.item-tumb .overlay a{
    margin-left: unset;
    margin-right: 20px;
}
.item-tumb .overlay a:last-child{
    margin-right: 0;
}
.custom-widget .news{
    margin-right: unset;
    margin-left: 1rem;
}
footer .move-up{
    left: unset;
    right: 0;
}
nav ul li.sub-menu .custom-dropdown ul:after {
    left: 25px;
    right: unset;
}

nav ul li.sub-menu .custom-dropdown ul {
    right: unset;
    left: 0;
}